@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;


::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.4s;
}